$color_1: var(--dark-green-6);
$color_2: var(--dark-green-1);
$background-color_1: white;

.btn {
	padding: 8px 18px 8px 12px;
	background-color: $background-color_1;
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 300;
	>.arrow-icon {
		transform: rotate(180deg);
		width: 12px;
		height: 8px;
	}
}
.btn.panier {
	color: $color_1;
	border: 1px solid var(--light-green-5);
}
.btn.compte {
	color: $color_2;
	border: 1px solid var(--light-green-5);
}
.btn.compte.active {
	border: 1px solid var(--dark-green-1);
}
.btn.panier.active {
	border: 1px solid var(--dark-green-1);
}
