// Checkout Steps Styles

.checkout-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .step {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin: 0;

    &:last-child {
      border-right: none;
    }

    .step-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--logo-green);
      transition: all 0.3s ease;
      margin-right: 8px;

      svg {
        opacity: 0.7;
      }
    }

    .step-text {
      font-size: 16px;
      color: var(--dark-green-6);
      font-weight: 500;
    }

    &.active {
      background-color: rgba(170, 204, 0, 0.2);
      border: 1px solid rgba(170, 204, 0, 0.4);
      border-radius: var(--radius-full);

      .step-icon {
        color: var(--dark-green-6);
        svg {
          opacity: 1;
        }
      }

      .step-text {
        color: var(--dark-green-6);
        font-weight: 500;
      }
    }

    &.completed {
      .step-icon {
        color: var(--logo-green);

        svg {
          opacity: 1;
        }
      }

      .step-text {
        color: var(--logo-green);
      }
    }
  }

  .step-divider {
    svg {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      width: 10px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;

    .step {
      margin-bottom: 0.5rem;

      .step-name {
        font-size: 0.75rem;
      }
    }

    .step-divider {
      width: 20px;
    }
  }
}