$color_1: var(--dark-green-1);
$background-color_1: transparent;
$background-color_2: var(--light-green-1);

.dropdown {
	position: relative;
	width: 129px;
	>.dropdown-toggle {
		>.arrow.Up {
			transform: rotate(0deg);
		}
		>.arrow {
			transform: rotate(180deg);
			transition: 0.3s ease-in-out;
		}
	}
	>.dropdown-toggle.open {
		border-radius: 8px 8px 0px 0px;
	}
	>.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: $background-color_2;
		border: 1px solid var(--dark-green-1);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		list-style-type: none;
		padding: 0;
		border-radius: 0px 0px 8px 8px;
		>li {
			cursor: pointer;
			border-bottom: 1px solid var(--dark-green-1);
			font-size: 16px;
			transition: 0.3s ease-in-out;
			color: $color_1;
			padding: 8px;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.dropdown-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: $background-color_1;
	gap: 8px;
	margin-bottom: 4px;
	color: $color_1;
	font-size: 16px;
	font-weight: 300;
	transition: 0.3s ease-in-out;
}
