.shop {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    // gap: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    // padding-top: 12px;
    >.categories-container {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0px;
        border: 1px solid var(--light-grey-2);

        >.categories {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            max-width: var(--section-max-width);
            padding: 0px var(--section-padding);
            gap: 12px;

            >.category {
                height: 28px;
                padding: 7px 14px;
                border-radius: 14px;
                border: 1px solid var(--light-grey-2);
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.2px;
                color: #666;
                transition: 0.3s ease-in-out;
                text-transform: capitalize;
                cursor: pointer;
                &.active{
                    border: 1px solid var(--dark-green-8);
                    background-color: white;
                    color: var(--dark-green-8);
                }
            }
        }
    }

    >.container {
        max-width: var(--section-max-width);
        padding: 0px var(--section-padding);
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        // gap: 12px;


        >.sub-nav {
            padding: 16px 0px;
            display: flex;
            justify-content: space-between;
            gap: 12px;
            align-items: center;

            >.pagination {
                display: flex;
                align-items: center;
                border-radius: 8px;
                border: 1px solid var(--light-grey-2);
                height: 40px;
                background-color: transparent;

                >p {
                    font-size: 14px;
                    color: var(--dark-grey);
                    font-weight: 400;
                    letter-spacing: 0.2px;
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    padding: 0px 16px;
                    width: 100%;

                    >span {
                        width: 16px;
                        height: 16px;
                    }
                }

                >div {
                    display: flex;
                    // gap: 4px;
                    height: 100%;

                    >span {
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 100%;
                        display: flex;
                        cursor: pointer;
                        background-color: white;
                        transition: 0.3s ease-in-out;
                        border-left: 1px solid var(--light-grey-2);


                        &.left {
                            &.disabled {
                                pointer-events: none;
                                cursor: default;
                                background-color: transparent;
                                color: var(--light-grey-2);
                            }
                        }

                        &.right {
                            border-radius: 0px 8px 8px 0px;

                            &.disabled {
                                pointer-events: none;
                                cursor: default;
                                background-color: transparent;
                                color: var(--light-grey-2);
                            }
                        }
                    }
                }
            }
        }

        >.page-container {
            display: flex;
            gap: 16px;
            height: 90%;
            width: 100%;
            // padding: 10px 0px;
            // margin-top: -10px;

            >.products-container {
                // padding: 8px 0px;
                // margin-top: -8px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
                gap: 16px;
                height: 100%;
                width: 100%;
                overflow: scroll;
                scrollbar-width: none;
                background: transparent;
                border-radius: 12px;
                padding: 0px;
                // margin-top: -10px;
                position: relative;
            }
        }

    }

    .top-overlay {
        position: fixed;
        z-index: 2;
        margin-top: -18px;
        width: 100%;
        height: 72px;
        background: linear-gradient(180deg, #fafafa 0%, #fafafa00 100%);
    }

    .bottom-overlay {
        position: fixed;
        background: linear-gradient(0deg, #fafafa 0%, #fafafa00 100%);
        z-index: 2;
        bottom: 0;
        width: 100%;
        height: 72px;
    }
}

@media screen and (min-width : 0px) and (max-width : 430px) {
    .shop {
        width: 100%;
        height: 93vh;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        gap: 12px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 0px 16px;

        >.container {
            max-width: var(--section-max-width);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            >div:first-child {
                padding: 12px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                >.categories {
                    height: 47px;
                    width: 100%;
                }
            }

            >.page-container {
                display: flex;
                // gap: 16px;
                height: calc(100% - 125px);
                width: 100%;

                // padding: 10px 0px;
                // margin-top: -10px;
                >.products-container {
                    padding: 10px 12px;
                    margin-top: -10px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                    gap: 12px;
                    height: 100%;
                    overflow: scroll;
                    scrollbar-width: none;
                    background: transparent;
                    border-radius: 12px;
                    position: relative;
                }
            }
        }

        .top-overlay {
            position: fixed;
            z-index: 2;
            margin-top: -12px;
            width: 100%;
            height: 72px;
        }

        .bottom-overlay {
            position: fixed;
            z-index: 2;
            width: 100%;
            height: 72px;
        }
    }
}