.order-details {
    width: 100%;
    height: 100%;
    max-width: var(--section-max-width);
    background-color: #fafafa;
    position: relative;
    // z-index: 3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    // gap: 12px;

    >.header {
        padding: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 48px;
        align-items: center;

        >.route {
            display: flex;
            align-items: center;
            gap: 8px;

            >p {
                color: #999;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 120%;
                display: flex;
                gap: 4px;
                cursor: pointer;

            }

            >span {
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 120%;
                font-weight: 600;
                color: #333;
            }
        }

        >.back {
            display: flex;
            gap: 4px;
            align-items: center;
            margin-left: auto;
            cursor: pointer;

            >p {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.2px;
                letter-spacing: 120%;
                color: #333;
                border-bottom: 1px solid transparent;
                transition: 0.3s ease-in-out;
            }

            &:hover {
                >p {
                    border-bottom: 1px solid #333;
                }
            }
        }
    }

    >.body {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        overflow: auto;
        scrollbar-width: none;
        padding: 40px 0px 20px 0px;
        gap: 32px;

        >.order-items-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            border-bottom: 1px solid #E6E6E6;
            padding-bottom: 32px;

            >.head {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                >p {
                    font-size: 24px;
                    font-weight: 600;
                    color: #333;
                    letter-spacing: 0.2px;
                    line-height: 120%;
                    text-transform: capitalize;
                    width: 100%;
                    text-align: left;
                }

                >.icons {
                    display: flex;

                    >span {
                        width: 48px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #333;
                        cursor: pointer;
                    }
                }
            }

            >.order-items {
                padding: 8px;
                display: flex;
                // flex-direction: column;
                gap: 16px;
                margin-top: -8px;
                overflow: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none;

                >.item {
                    display: flex;
                    width: 100%;
                    max-width: 464px;
                    min-width: 464px;
                    height: 176px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 0px 1px #EBEBEB;
                    background-color: white;

                    >.item-img {
                        padding: 6px;
                        width: 176px;
                        min-width: 176px;
                        box-shadow: inset -1px 0px 0px 0px #F2F2F2;

                        >img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    >.item-info {
                        padding: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: calc(100% - 172px);

                        >p {
                            font-size: 20px;
                            font-weight: 500;
                            letter-spacing: 0.2px;
                            line-height: 120%;
                            text-align: left;
                            color: #333;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;

                        }

                        >div {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            width: 100%;

                            // height: 28px;
                            >div {
                                display: flex;
                                justify-content: space-between;

                                >p {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #666;

                                    &:last-child {
                                        font-weight: 600;
                                        color: var(--dark-green-8);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        >.more-info-container {
            display: flex;
            flex-direction: column;
            gap: 32px;

            >.head {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                >p {
                    font-size: 24px;
                    font-weight: 600;
                    color: #333;
                    letter-spacing: 0.2px;
                    line-height: 120%;
                    text-transform: capitalize;
                    width: 100%;
                    text-align: left;
                }

                >.icons {
                    display: flex;

                    >span {
                        width: 48px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #333;
                        cursor: pointer;
                    }
                }
            }

            >.more-info {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
                gap: 16px;

                >div {
                    height: 100%;
                }

                >.order-info {
                    border-radius: 8px;

                    >.order-info-container {
                        width: 100%;
                        padding: calc(32px - 16px) 32px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        >div {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            >p {
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.2px;
                                color: #333;

                                &:last-child {
                                    font-weight: 600;
                                    color: var(--dark-green-8);
                                    font-size: 16px;
                                    line-height: 150%;
                                }
                            }
                        }
                    }
                }

                >.order-stat {
                    border-radius: 8px;

                    >.order-stat-container {
                        width: 100%;
                        padding: calc(32px - 16px) 32px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        >.stat {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            >p {
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.2px;
                                color: #333;
                                text-transform: capitalize;

                                &:last-child {
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: var(--dark-green-8);
                                }
                            }
                        }
                    }
                }


                >.shiping-info,
                >.client-info {
                    border-radius: 8px;

                    >.shipping-info-container,
                    >.client-info-container {
                        width: 100%;
                        padding: calc(32px - 16px) 32px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        >div {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            >p {
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.2px;
                                color: #333;
                                text-align: left;
                                width: 40%;
                                line-height: 150%;

                                &:last-child {
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: var(--dark-green-8);
                                    text-align: right;
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (min-width : 0px) and (max-width : 430px) {
    .order-details {
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        z-index: 3;
        border-radius: 12px;
        box-shadow: 0px 0px 8px 4px #0000001a;
        display: flex;
        flex-direction: column;
        // gap: 12px;

        >.header {
            padding: 6px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 42px;
            box-shadow: inset 0px -1px 0px 0px #E6E6E6;
            align-items: center;

            >div {
                display: flex;
                gap: 8px;
                align-items: center;

                >span {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    border: 1px solid #E6E6E6;
                    background-color: white;
                    cursor: pointer;
                    color: var(--dark-green-6);
                }

                >div {
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    font-size: 12px;
                    color: var(--dark-green-6);
                    letter-spacing: 0.2px;
                    line-height: 120%;
                    font-weight: 500;

                    >span {
                        font-weight: 700;
                    }
                }
            }

            >span {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                border: 1px solid #E6E6E6;
                background-color: white;
                cursor: pointer;
                color: var(--dark-green-6);
            }

        }

        >.body {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            overflow: auto;
            scrollbar-width: none;
            padding: 0;
            gap: 0;

            >.order-info {
                width: 100%;
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                border-bottom: 1px solid #F2F2F2;

                >div {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    >p {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        color: #666;

                        &:last-child {
                            font-weight: 600;
                            color: #333;
                        }
                    }
                }
            }

            >.order-stat {
                width: 100%;
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                border-bottom: 1px solid #CCC;

                >div:first-child {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    >p {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        color: #666;

                        &:last-child {
                            font-weight: 600;
                            color: #333;
                        }
                    }
                }
            }

            >.order-items {
                padding: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin: 0;

                >.item {
                    display: flex;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    height: 96px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 0px 1px #EBEBEB;

                    >.item-img {
                        padding: 6px;
                        width: 96px;
                        min-width: 96px;
                        box-shadow: inset -1px 0px 0px 0px #F2F2F2;

                        >img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    >.item-info {
                        padding: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;

                        >p {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: 0.2px;
                            line-height: 120%;
                            text-align: left;
                            color: #333;

                        }

                        >div {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            width: 100%;

                            // height: 28px;
                            >div {
                                display: flex;
                                justify-content: space-between;

                                >p {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #666;

                                    &:last-child {
                                        font-weight: 600;
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            >.shiping-info,
            >.client-info {
                width: 100%;
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                >div {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    >p {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        color: #666;
                        text-align: left;
                        width: 50%;

                        &:last-child {
                            font-weight: 600;
                            color: #333;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}