.options-selected-conatiner {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #CCCCCC;
    background-color: white;

    >.header {
        display: flex;
        height: 40px;
        padding: 0px 8px 0px 12px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--light-grey);
        transition: 0.3s ease-in-out;

        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;

            >span {
                width: 16px;
                height: 16px;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &.active {
                    transform: rotate(-90deg);
                }
            }

            >p {
                font-size: 14px;
                font-weight: 600;
                color: #333;
                letter-spacing: 0.2px;
                text-transform: capitalize;
            }
        }

        >span {
            width: 24px;
            min-width: 24px;
            height: 24px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: var(--light-grey);
            color: #333;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #CCCCCC;
            }
        }
        &.active{
            border-bottom: 1px solid transparent;
        }
    }

    >.body {
        display: flex;
        flex-direction: column;
        padding: 16px;
        transition: 0.3s ease-in-out;

        >.option {
            display: flex;
            height: 32px;
            padding: 0px 8px;
            gap: 8px;
            width: 100%;
            justify-content: flex-start;
            border-radius: 4px;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            >.checkbox {
                width: 16px;
                height: 16px;
                border-radius: 4px;
                background-color: var(--light-grey);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &.active {
                    background-color: var(--dark-green-8);
                }
            }

            >p {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.2px;
                color: #333;
                text-transform: capitalize;
            }

            &:hover {
                background-color: var(--light-grey);

                >.checkbox {
                    background-color: white;
                }

                >.checkbox.active {
                    background-color: var(--dark-green-8);
                }
            }

            &.select-all {
                border-bottom: 1px solid var(--light-grey);

                >.checkbox {
                    &.all {
                        background-color: var(--dark-green-8);
                    }

                    &.some {
                        background-color: var(--dark-green-8);
                    }
                }

                &:hover {
                    background-color: transparent;

                    >.checkbox {
                        background-color: var(--light-grey);

                        &.all {
                            background-color: var(--dark-green-8);
                        }

                        &.some {
                            background-color: var(--dark-green-8);
                        }
                    }
                }
            }
        }

        &.collapse{
            display: none;
        }
    }
}