.order-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #CCC;
    border-radius: 16px;

    >.header {
        width: 100%;
        height: 48px;
        display: flex;
        border-bottom: 1px solid #CCC;
        align-items: center;

        >div {
            padding: 0px 8px 0px 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-right: 1px solid var(--light-grey-2);
            height: 100%;

            >p {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.2px;
                line-height: 120%;
                color: #333;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }

            >div {
                display: flex;
                align-items: center;
                gap: 8px;

                >.status {
                    display: flex;
                    height: 24px;
                    padding: 0px 12px;
                    gap: 4px;
                    border-radius: 12px;
                    background-color: var(--light-green-7);
                    align-items: center;
                    color: var(--dark-green-8);

                    >span {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    >p {
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        text-transform: capitalize;
                    }
                }

                >span {
                    background-color: #F2F2F2;
                    border-radius: 4px;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: default;
                }

                >.unpaid {
                    width: fit-content;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    padding: 0px 12px;
                    border-radius: 16px;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    color: #333;
                    background-color: #FFE5E5;
                    border: 1px solid #E5B3B3;
                    color: #990000;
                }
            }
        }

        >.button {
            border-right: none;
            width: fit-content;
            height: 100%;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            >button {
                height: 32px;
                width: fit-content;
                padding: 0px 12px;
                border-radius: 8px;
                background-color: var(--dark-green-8);
                border: none;
                color: white;
                white-space: nowrap;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.2px;
            }
        }

    }

    >.body {
        padding: 24px;
        display: flex;
        width: 100%;
        gap: 16px;

        .left {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;
            padding-right: 16px;
            border-right: 1px solid var(--light-grey-2);

            >div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                >p:first-child {
                    font-size: 12px;
                    font-weight: 500;
                    color: #666;
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }

                >p:last-child {
                    font-size: 12px;
                    font-weight: 600;
                    color: #333;
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }
            }
        }

        >.right {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;

            >div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                >p:first-child {
                    font-size: 12px;
                    font-weight: 500;
                    color: #666;
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }

                >p:last-child {
                    font-size: 12px;
                    font-weight: 600;
                    color: #333;
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }
            }
        }

    }
}

@media screen and (min-width :0px) and (max-width : 430px) {
    .order-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #CCC;
        border-radius: 8px;

        >.header {
            padding: 0px 8px;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #CCC;
            align-items: center;

            >p {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.2px;
                line-height: 120%;
                color: #333;
            }

            >div {
                display: flex;
                align-items: center;
                gap: 8px;

                >.status {
                    display: flex;
                    height: 24px;
                    padding: 0px 12px;
                    gap: 4px;
                    border-radius: 12px;
                    background-color: var(--light-green-7);
                    align-items: center;
                    color: var(--dark-green-8);

                    >span {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    >p {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                        text-transform: capitalize;
                    }
                }

                >span {
                    background-color: #F2F2F2;
                    border-radius: 4px;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                >.info {
                    width: 24px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 0px;
                    border-radius: 4px;
                }
            }
        }

        >.body {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;

            >div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                >p:first-child {
                    font-size: 12px;
                    font-weight: 500;
                    color: #666;
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }

                >p:last-child {
                    font-size: 12px;
                    font-weight: 600;
                    color: #333;
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }
            }
        }
    }
}