.password-input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: white;
    padding: 0px 8px 0px 16px;
    border: 1px solid #E6E6E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    >span {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
    }

    >input {
        width: calc(100% - 32px);
        height: 100%;
        font-size: 14px;
        color: #333;
        letter-spacing: 0.2px;
        font-weight: 600;
        line-height: 150%;
        border: none;
        outline: none;

        &::placeholder {
            font-size: 14px;
            letter-spacing: 0.2px;
            font-weight: 500;
            color: #666;
            line-height: 150%;
            opacity: 1;
        }
    }

    &:focus-within {
        border: 1px solid var(--dark-green-8);
    }

}